.menu-link{
  box-sizing: border-box;
  padding: 7px 12px;
  opacity: 1;
  transition: 1s ease;
  margin-bottom: 13px;
}

.menu-item {
  display: inline;
  color: #FFFFFF;
  background-color: black;
  padding: 7px 12px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 1s ease;
}
